[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"
nbconvert = "*"

[packages]
pygithub = "*"
tqdm = "*"
pandas = "*"

[requires]
python_version = "3.6"
