body {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: fit-content;
    overflow-x: auto;
    font-family: sans-serif;
}

.full-screen-dialog > div:nth-child(2) > div:nth-child(1) {
    display: flex;
}

.full-screen-dialog > div:nth-child(2) > div:nth-child(1) > div {
    margin-top: 10px;
    flex-grow: 1;
    overflow: hidden;
}
