name: Report

on:
  schedule:
    - cron: '0 11 * * *'

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  PY_COLORS: '1'

jobs:
  web:
    name: Report
    runs-on: ubuntu-24.04
    environment: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install pipenv
        run: pip install pipenv

      - name: Install dependencies
        run: pipenv install

      - name: Report
        run: .github/scripts/report.sh
